.premieres {
    margin-bottom: 50px;
}

.title {
    font-size: 22px;
    font-weight: 600;
    color: #111;
    margin-bottom: 20px;
}

.content {
    position: relative;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 10px;
}

.button {
    position: absolute;
    z-index: 2;
    top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 4px 6px 0 rgb(0 0 0 / 5%), 0 1px 0 1px rgb(0 0 0 / 5%), 0 0 0 1px rgb(0 0 0 / 5%);
}

.item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.item:hover .poster img {
    transform: scale(1.1);
}

.poster {
    overflow: hidden;
    position: relative;
    padding: 0 0 140% 0;
    margin-bottom: 10px;
    border-radius: 15px;
}

.poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform ease .8s 0s;
}

.name {
    font-family: 'Roboto Condensed', sans-serif;
    /*color: #4a4a4a;*/
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 10px;
    flex: 1 1 auto;
}

.year {
    color: #999;
    font-size: 15px;
}

.genre {
    color: #999;
    font-size: 15px;
}